#visor{
    width: 110px;
    position:relative;
    left:5px;
    top:12px;
}
.td{
    width: 10px;
    position: relative;
    left: 5px;
    top:12px;
    background-color:black;
}
#calculadora{
    width: 130px;
    height: 170px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: red;
}
input{
    width: 25px;
    height: 25px;
    position:relative;
    background-color: lightgray;
}
.bola{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position:absolute;
    background-color: black;
    top: p1;
    left: p2;
}
